* {
    margin: 0;
    padding: 0;
}


.sora-regular {
    font-family: "Sora", sans-serif;
    font-style: normal;
}


body {
    min-height: 100vh;
    background: #0b0d15;
    color: #a2a5b3;
    align-content: center;
    font-weight: bold;
}


.inputField {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.inputField label {
    margin-top: 8px;
    text-align: left;
    font-weight: 400;
}

#weekEndsLabel {
    font-size: 14px;
}

.inputField input {
    padding: 8px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: rgba(255, 255, 255, 0.05);
}

button {
    margin-top: 10px;
    background-color: #056608;
    padding: 8px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 600;
}

.card {
    margin: 0 auto;
    padding: 2em;
    max-width: 320px;
    background: #1c1f2b;
    text-align: center;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.result {
    margin-top: 10px;
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.card::after,
.card::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), #ff4545, #00ff99, #006aff, #ff0095, #ff4545);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 3px;
    border-radius: 10px;
    animation: 3s spin linear infinite;
}

.card::before {
    filter: blur(1.5rem);
    opacity: 0.5;
}

@keyframes spin {
    from {
        --angle: 0deg;
    }

    to {
        --angle: 360deg;
    }
}